<p>admin page!</p>
<li> orders:
    <select id = "orderIDs">
        <option [value] = "item" *ngFor="let item of orderIDs">
            {{item}}
        </option>
    </select>
    <textarea *ngFor="let order of orders">
        {{order | json}}
    </textarea>
    <pre>
        {{orderIDs | json}}
    </pre> 
    casher status:
    <select id = "casherIDs" [(ngModel)]="casher">
        <option [value] = "item" *ngFor="let item of casherStatus">
            {{item}}
        </option>
    </select>
    <button (click) = "doChange()">change</button>
</li>