#home {display:inline-block;margin-right:30px; width:200px; background-color:red;} 
#user {display:inline-block; margin-right:30px; width:200px; background-color:rgb(0, 255, 234);} 
#cart {display:inline-block; width:200px; background-color:rgb(0, 255, 234);} 