<app-header [title] = 'title' [run] = 'run' [category] = 'this' (outer1) = 'parentRun()'></app-header>
<br>
<hr>
<h3 [ngStyle]="{'color': attr}">Food World Store</h3>
<!-- <div [title] = "description"> 
    home
</div> -->

<div *ngIf="flag">
    <img width="100" height="90" src="assets/images/store.png" alt="store"/>
</div>

<div>
    <div #myHome id = 'home'>
        home
    </div>
    <div #myUser id = 'user'>
        user
    </div>
    <div #myCart id = 'cart'>
        cart
    </div>
</div>

