h2{
    text-align: center;
}

.veg_list{
    

    width: 480px;

    margin: 40px auto;

    padding: 20px;

    border:1px solid wheat;

    border-radius: 2cm;

    li{
        height: 50px;

        line-height: 50px;

        
    }

    
}